.header_nav._hide{
  display: none;
}

.main {
  width: 100%;
  height: 85%;
  font-size: calc(1*var(--use-scale));
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

}
.wrapper{
  width: 95%;
  min-height: 97%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(.5*var(--use-scale)) 0;
}
.wrapper._hide{
  display: none;
}

.wrapper_title{
  text-align: center;
  font-size: calc(1.4*var(--use-scale));
  font-weight: 500;
  padding-top: calc(.5*var(--use-scale));
}
.list {
  margin-bottom: calc(.5*var(--use-scale));
}

.list_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(.3*var(--use-scale));
  border-radius: calc(.7*var(--use-scale));
  background:white;
  overflow: hidden;
  margin-bottom: calc(.5*var(--use-scale));
}

.item_img img{
  display: block;
  width: 100%;
}
.item_title{
  font-size: calc(1.3*var(--use-scale));
}
.item_price{
  font-size: calc(1.1*var(--use-scale));
  margin-bottom: calc(.5*var(--use-scale));
}
.item_price span{
  font-weight: 500;
}
.total_price{
  font-size: calc(1.4*var(--use-scale));
}
.total_price span{
  font-size: calc(1.5*var(--use-scale));
  font-weight: 500;
}

.box_pay{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: calc(.5*var(--use-scale));
}

.box_pay_img img{
  display: block;
  width: 100%;
  border-radius: calc(1*var(--use-scale));
}
.check_box_wrapp{
  display: flex;
  align-items: center;
  margin-bottom: calc(.8*var(--use-scale));
}
.check_box_wrapp label,
.check_box_wrapp input{
  cursor: pointer;
}
.checkbox{
  width: calc(2*var(--use-scale));
}
.btn-submit{
  font-size: calc(1.1*var(--use-scale));
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  background: rgba(7, 197, 17, 0.603);
  border-radius: .7rem;
  opacity: .8;
  transition: all.3s;
  margin: .1vw;
  padding: calc(.8*var(--use-scale));
}

.btn-submit:hover {
  opacity: 1;
}

:disabled {
  cursor: default;
}

.wrapper._empty{
  align-items: center;
  justify-content: center;
  gap: calc(.8*var(--use-scale));
  font-size: calc(2*var(--use-scale));
  font-weight: 500;
  margin-top: 20%;
}
.wrapper._empty a{
  font-size: calc(1.3*var(--use-scale));
}


.modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(237, 237, 237);
  border-radius: calc(1*var(--use-scale));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(2*var(--use-scale));
  font-weight: 700;
}
.modal._hide{
  display: none;
}


.pay_list{
  padding-bottom: calc(1*var(--use-scale));
}
.pay_item{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all .3s;
  opacity: .8;
}

.pay_item:hover{
  transform: scale(1.06);
  opacity: 1;
}

.pay_item input{
  display: none;
}

.pay_item img{
  display: block;
  height: 100%;
  border-radius: calc(.5*var(--use-scale));
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: calc(20*var(--use-scale)) repeat(3, calc(6*var(--use-scale)));
  grid-column-gap: 0px;
  grid-row-gap: calc(.3*var(--use-scale));
}

.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 3 / 1 / 4 / 2; }
.div5 { grid-area: 3 / 2 / 4 / 3; }
.div6 { grid-area: 4 / 1 / 5 / 2; }
.div7 { grid-area: 4 / 2 / 5 / 3; }