.options{
  width: 70%;
  margin: calc(.4*var(--use-scale)) auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options_btn{
  border-radius: calc(.3*var(--use-scale));
  font-size: calc(1.1*var(--use-scale));
  background: none;
  padding: calc(.3*var(--use-scale)) calc(.7*var(--use-scale));
  cursor: pointer;
  opacity: .8;
  transition: all.3s;
}
.options_btn._active,
.options_btn:hover{
  background: rgb(16, 16, 16);
  color: white;
  opacity: 1;
}

.main{
  width: 100%;
  height: 85%;
  font-size: calc(1*var(--use-scale));
  position: relative;
}
.list{
  width: 100%;
  max-height: 93%;
  overflow-y: auto;
  overflow-x: hidden;
}
.list_item{
  width: 98%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: .5fr 3fr repeat(3, .5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-sizing: border-box;
  border-radius: calc(.8*var(--use-scale));
  margin: calc(.7*var(--use-scale)) auto;
  background: rgb(242, 242, 242);
   box-shadow: 0px 1px 3px rgba(8, 8, 8, 0.12), 0px 1px 1px rgba(12, 12, 12, 0.14), 0px 2px 1px rgba(12, 12, 12, 0.2);
  overflow: hidden;
}
.scren_details{
  background: rgb(242, 242, 242);
}


.item {
  width: 98%;
  display: flex;
  flex-direction: column;
  gap: calc(.8*var(--use-scale));
  margin: calc(.7*var(--use-scale)) auto;
}

.item._hide,
.list_item._hide{
  opacity: .5;
}

.div1 { grid-area: 2 / 1 / 3 / 5; }
.div2 { grid-area: 1 / 1 / 2 / 4; }
.div3 { grid-area: 3 / 1 / 4 / 5; }
.div4 { grid-area: 4 / 1 / 5 / 3; }
.div5 { grid-area: 4 / 3 / 5 / 5; }
.div6 { grid-area: 1 / 4 / 2 / 5; }
.div7 { grid-area: 5 / 1 / 6 / 3; }
.div8 { grid-area: 5 / 3 / 6 / 5; }


.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8{
  display: flex;
  align-items: center;
  justify-content: center;
}


.item_img{
  overflow: hidden;
}
.item_img img{
  display: block;
  width: 100%;
}

.item_title{
  font-size: calc(1.2*var(--use-scale));
  font-weight: 500;
  text-align: center;
}
.item_description{
  font-size: calc(1.1*var(--use-scale));
  font-weight: 400;
  line-height: 1.1;
  padding: calc(.5*var(--use-scale));
  text-align: center;
}
.item_date{
  font-size: calc(1*var(--use-scale));
  font-weight: 500;
  text-align: center;
}
.item_time{
  font-size:calc(1*var(--use-scale));
  font-weight: 500;
  text-align: center;
}

.buy_btn,
.item_buy_btn,
.item_detale-btn{
  font-size: calc(1.1*var(--use-scale));
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  background: none;
  border-radius: calc(.6*var(--use-scale));
  opacity: .8;
  transition: all.3s;
}
.item_price{
  font-size: calc(1*var(--use-scale));
  font-weight: 500;
  text-align: center;
}
.buy_btn,
.item_buy_btn{
  background: rgba(7, 197, 17, 0.603);
  margin: calc(.4*var(--use-scale));
}
.buy_btn{
  padding: calc(.8*var(--use-scale));
}

.buy_btn:hover,
.item_buy_btn:hover,
.item_detale-btn:hover{
  opacity: 1;
}
:disabled{
  cursor: default;
}
