.main{
  width: 98%;
  height: 85%;
  position: relative;
}
.header_nav._hide{
  display: none;
}
.profile{
  width: 95%;
  height: 90%;
  margin: auto;
  border-radius: calc(.5*var(--use-scale));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(.6*var(--use-scale));
  padding: calc(.5*var(--use-scale));
  overflow-y: auto;
  overflow-x: hidden;
}
.profile._hide{
  display: none;
}

.my_profile_item,
.my_profile{
  width: 100%;
  height: calc(10*var(--use-scale));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(1.4*var(--use-scale));
  gap: calc(.5*var(--use-scale));
  padding: calc(.5*var(--use-scale));
  border-radius: calc(.5*var(--use-scale));
  background: rgb(237, 236, 236);
  opacity: .9;
  transition: all .3s;
}
.my_profile_item:hover,
.my_profile:hover{
  opacity: 1;
}

.my_profile img{
  display: block;
  width: calc(6*var(--use-scale));
}

.my_profile{
  height: calc(30*var(--use-scale));
}

.profile_img{
  width: 70%;
  border-radius: calc(1*var(--use-scale));
  overflow: hidden;
  background-color: aliceblue;
  position: relative;
}

.profile_img._edit{
  position: absolute;
  top: 1%;
  z-index: 2;
  width: 100%;
}


.profile_img img{
  display: block;
  width: 100%;
}

.edit{
  width: calc(3*var(--use-scale));
  position: absolute;
  top: calc(.3*var(--use-scale));
  right: 0;
  opacity: .7;
  transition: all .3s;
}
.edit:hover{
  opacity: 1;
}

.edit img{
  display: block;
  width: 100%;
}
.profile_title{
  font-size: calc(2*var(--use-scale));
}
.profile_text{
  width: 96%;
  background: rgb(237, 236, 236);
  font-size: calc(1.2*var(--use-scale));
  padding: calc(.5*var(--use-scale));
  border-radius: calc(.5*var(--use-scale));
}

.contact{
  width: 96%;
  display: flex;
  align-items: first baseline;
  position: relative;
  padding: calc(.5*var(--use-scale));
  border-radius: calc(.5*var(--use-scale));
  background: rgb(237, 236, 236);

  cursor: pointer;
  gap: calc(.8*var(--use-scale));
  font-size: calc(1.4*var(--use-scale));
  opacity: .8;
  transition: all .3s;
}
.contact img{
  display: block;
  width: calc(1.5*var(--use-scale));
  
}


.sent_caunt{
  font-size: calc(1.2*var(--use-scale));
  color: rgb(4, 104, 4);
  font-weight: 700;
  position: absolute;
  top: calc(-.1*var(--use-scale));
  left: calc(1.9*var(--use-scale));
}

.customers{
  height: 98%;

}
.customers_list{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.customer{
  background: rgb(238, 238, 238);
  padding: calc(.5*var(--use-scale));
  border-radius: calc(.5*var(--use-scale));
  margin-bottom: calc(.3*var(--use-scale));
  font-size: calc(1.2*var(--use-scale));
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}



.grid_item_1{ grid-area: 1 / 1 / 2 / 3; }
.grid_item_2{ grid-area: 2 / 1 / 3 / 2; }
.grid_item_3{ grid-area: 2 / 2 / 3 / 3; }
.grid_item_4{ grid-area: 2 / 3 / 3 / 4; }
.grid_item_5{ grid-area: 1 / 3 / 2 / 4; }



.item_flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer_btn{
  margin: calc(.3*var(--use-scale));
  border-radius: calc(.9*var(--use-scale));
  font-size: calc(.8*var(--use-scale));
  padding: calc(.2*var(--use-scale));
  border: 1px solid black;
  opacity: .8;
  transition: all .3s;
}
.contact:hover{
  opacity: 1;
}
.customer_btn:hover{
  background-color: rgba(8, 8, 8, 0.733);
  border: 1px solid rgba(0, 0, 0, 0.322);
  color: white;
  opacity: 1;
}
.rating{
  padding: calc(1*var(--use-scale));
}
.rating img{
  display: block;
  width: 100%;
}
.form{
  width: 90%;
  margin-top: calc(3*var(--use-scale));
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: calc(.7*var(--use-scale));
  padding: calc(.5*var(--use-scale));
  gap: calc(1*var(--use-scale));
}


.form label{
  font-size: calc(1*var(--use-scale));
  font-weight: 500;
  color: black;
}
.form input{
  font-size: calc(1.1*var(--use-scale));
  font-weight: 400;
  padding: calc(.3*var(--use-scale)) calc(.5*var(--use-scale));
  border-radius: calc(.6*var(--use-scale));
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.form textarea{
  font-size: calc(1.1*var(--use-scale));
  font-weight: 400;
  padding: calc(.3*var(--use-scale)) calc(.5*var(--use-scale));
  border-radius: calc(.6*var(--use-scale));
  resize:none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.btn-submit{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(1.2*var(--use-scale));
  font-weight: 500;
  background: rgba(7, 197, 17, 0.603);
  border-radius: calc(.7*var(--use-scale));
  opacity: .8;
  transition: all.3s;
  padding: calc(.5*var(--use-scale));
}
.btn-submit:hover{
  opacity: 1;
}

.btn-submit img{
  display: block;
  width: calc(2*var(--use-scale));
}

.verification{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: calc(.5*var(--use-scale));
  background: rgb(245, 244, 244);
  color: black;
}
.customer._hide{
  display: none;
}

.checkbox{
  width: calc(2*var(--use-scale));
}