.scren._hide {
  display: none;
}

.scren_details {
  background: rgb(242, 242, 242);
}
.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(1*var(--use-scale));
  padding: calc(1*var(--use-scale)) calc(.3*var(--use-scale));
}
.item_time{
  font-size: calc(1*var(--use-scale));
  font-weight: 500;
}
.item_title{
  font-size: calc(1.5*var(--use-scale));
  font-weight: 600;
}
.item_description{
  font-size: calc(1.1*var(--use-scale));
  font-weight: 500;
}
.item_info{
  display: flex;
  flex-direction: column;
  gap: calc(.5*var(--use-scale));
  font-size: calc(1*var(--use-scale));
  font-weight: 400;
}
.info_title{
  font-size: calc(1.1*var(--use-scale));
  font-weight: 500;
}
.details span{
  font-size: calc(1.1*var(--use-scale));
  font-weight: 500;
}

.main {
  width: 100%;
  height: 85%;
  font-size: calc(1*var(--use-scale));
  position: relative;
}

.calendar-wrapper {
  font-family: var(--font_Roboto);
  width: calc(20*var(--use-scale));
  margin: 0 auto;
  padding: calc(1.3*var(--use-scale));
  border: 1px solid #dcdcff;
  border-radius: calc(1*var(--use-scale));
  background: #fff;
  font-size: calc(1.1*var(--use-scale));
  margin-top: 25%;
}

table {
  clear: both;
  width: 100%;
  border: 1px solid #dcdcff;
  border-collapse: collapse;
  color: #444;
}
td {
  height: calc(3.1*var(--use-scale));
 
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #dcdcff;
  border-top: 1px solid #dcdcff;
  width: 14.28571429%;
}
thead td {
  border: none;
  color: #28283b;
  text-transform: uppercase;
  font-size: calc(1.3*var(--use-scale));
  font-weight: 500;
}

td.not-current {
  color: #c0c0c0;
}

td.today {
  font-weight: 700;
  color: #28283b;
  font-size: calc(1.5*var(--use-scale));
 
}

td._period{
  cursor: pointer;
  background: rgb(236, 236, 236);
  font-weight: 500;
  transition: all.3s;
}
td._period:hover{
  background: greenyellow;
}

td._active{
  color: rgb(0, 27, 0);
  background: greenyellow;
}
.calendar_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: calc(1.3*var(--use-scale));
}

.calendar_btn {
  background: transparent;
  font-size: calc(.8*var(--use-scale));
  color: #c0c0c0;
  cursor: pointer;
  font-family: var(--font_Roboto);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.calendar_btn:hover {
  color: #28283b;
  font-weight: 600;
}


.buy_btn{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: calc(1.1*var(--use-scale));
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  background: rgba(7, 197, 17, 0.603);
  border-radius: calc(.7*var(--use-scale));
  opacity: .8;
  transition: all.3s;
  margin: calc(.6*var(--use-scale)) auto;
  padding: calc(.8*var(--use-scale));
}


.buy_btn:hover{
  opacity: 1;
}

:disabled {
  cursor: default;
}
