@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --font_Roboto: "Roboto", sans-serif;
  font-size: 10px;
  --use-scale:.8vw;
}
.pointer {
  cursor: pointer;
}

@media (max-width:1160px){
  :root{
    --use-scale:1vw;
  }
}
@media (max-width: 900px){
  :root{
    --use-scale:1.8vw;
  }
}


body{
  max-width: 140rem;
  margin: 0 auto;

}
.main-page{
  font-family: var(--font_Roboto);
  max-width: 140rem;
  min-width: 32rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem 0;
}


.display{
  background-image: url('../image/iphone.png');
  background-repeat:no-repeat;
  background-size:100%;
  width: calc(28*var(--use-scale));
  height: calc(55.4*var(--use-scale));
  box-sizing: border-box;
  border-radius: calc(3*var(--use-scale));
  backdrop-filter: grayscale(60%);
  box-shadow:
    inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
    inset -.3rem -.3rem .3rem rgba(75, 75, 75, 0.532),
    1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
}

.use_scale_control{
  position: fixed;
  font-size: 1.5rem;
  height: 19rem;
  right: 0%;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.scale_max{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}
.scale_max span{
  font-weight: 600;
}
.use_scale_control input{
  transform: rotate(-90deg);
  cursor: pointer;
}
.range_scale label{
  font-size: 1.3rem;
  font-weight: 500;
}
.scren {
  width:calc(25.8*var(--use-scale));
  height: calc(51.7*var(--use-scale));
  border-radius: calc(1.8*var(--use-scale));
  position: absolute;
  top: calc(1.2*var(--use-scale));
  left:calc(1.1*var(--use-scale));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
}
.rout_item._hide{
  display: none;
}
.header{
  width: 100%;
  font-size: calc(1.2*var(--use-scale));
  min-height: calc(3*var(--use-scale));
  border-bottom: 1px solid rgb(174, 174, 175);
  padding-top: calc(1.5*var(--use-scale));
}
.header_nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(.6*var(--use-scale)) calc(2.1*var(--use-scale));;
}

.header_nav._hide{
  display: none;
}

.home-btn {
  cursor: pointer;
  opacity: .8;
  transition: all.3s;
}

.home-btn:hover {
  opacity: 1;
  transform: translateX(-.2rem);
}

.footer{
  width: 100%;
  font-size: calc(1.1*var(--use-scale));
  min-height: calc(3*var(--use-scale));
  border-top: 1px solid rgb(174, 174, 175);
}
.footer_wrapp{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: calc(.5*var(--use-scale));
  padding: calc(.6*var(--use-scale)) calc(1.5*var(--use-scale));
}

.icon{
  display: inline-block;
  width: calc(1.5*var(--use-scale));
  height: calc(1.5*var(--use-scale));
  opacity: .5;
  transition: all.3s;
}
.icon img{
  display: block;
  height: 100%;
}

.icon._active,
.icon:hover{
  opacity: 1;
}

.basket{
  position: relative;
}
.basket_caunt{
  display: block;
  font-size: calc(1*var(--use-scale));
  font-weight: 600;
  color: rgb(0, 97, 0);
  position: absolute;
  top: calc(-.6*var(--use-scale));
  right: calc(-.6*var(--use-scale));
}
:disabled{
  cursor: default;
}
.dialog{
  width: 100%;
  height: 100%;
  background: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.dialog_content{
  width: 85%;
  border-radius: calc(.5*var(--use-scale));
  line-height: 1.3;
  overflow: hidden;
}

.dialog._hide{
  display: none;
}
.message {
  text-align: center;
  color: white;
  font-size: calc(1.5*var(--use-scale));
  font-weight: 500;
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}