.main {
  width: 100%;
  height: 85%;
  font-size: calc(1*var(--use-scale));
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.wrapper{
  width: 98%;
  height: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: calc(.5*var(--use-scale)) calc(.2*var(--use-scale));
  gap: calc(.3*var(--use-scale));
}
.history_visits,
.contact,
.season_tickets_wrapper,
.schedule_wrapper{
  width: 98%;
  background-color: rgb(244, 248, 248);
  padding: calc(.4*var(--use-scale)) calc(.2*var(--use-scale));
  border-radius: calc(.4*var(--use-scale));
}
.season_tickets_wrapper{
  height: 60%;
}
.history_visits h2,
.contact h2,
.season_tickets_wrapper h2,
.schedule_wrapper h2{
  font-weight: 500;
  text-align: center;
  margin-bottom: calc(.5*var(--use-scale));
}
.schedule{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(.7*var(--use-scale));
}
.schedule_item h3{
  font-size: calc(.9*var(--use-scale));
  font-weight: 500;
  margin-bottom: calc(.3*var(--use-scale));
  text-align: center;
}
.schedule_item{
  padding-bottom: calc(.1*var(--use-scale));
  opacity: .8;
}
.schedule_item._active{
  border-bottom: 1px solid black;
  opacity: 1;
}

.tickets_tabs{
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tab{
  font-weight: 500;
  line-height: 1.2;
  padding: calc(.3*var(--use-scale));
  border-bottom: 1px solid transparent;
  opacity: .8;
  cursor: pointer;
  transition: all .3s;
}
.tab._active{
  border-bottom: 1px solid  black;
  opacity: .8;
}
.tickets_list{
  display: flex;
  flex-direction: column;
  gap: calc(.5*var(--use-scale));
  padding: calc(.3*var(--use-scale));
  margin: calc(.5*var(--use-scale)) auto;
}
.tickets_list_item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(20, 255, 59);
  border-radius: calc(.3*var(--use-scale));
  padding-right: calc(.5*var(--use-scale));
  overflow: hidden;
}
.tickets_list_item._freeze{
  background-color: rgb(20, 169, 255);
  opacity: .6;
}
.tickets_list_item img{
  display: block;
  width: 30%;
}
.item_info h3{
  font-size: calc(1*var(--use-scale));
  font-weight: 500;
  text-align: center;
  margin-bottom: calc(.3*var(--use-scale));
}
.item_info p{
  font-size: calc(.8*var(--use-scale));
  text-align: center;
}
.btn_freeze{
  background: rgb(52, 52, 243);
  border-radius: calc(.5*var(--use-scale));
  color: white;
  font-size: calc(.7*var(--use-scale));
  padding: calc(.3*var(--use-scale));
  opacity: .9;
  transition: all .3s;
}
.btn_details{
  position: absolute;
  font-size: calc(1.1*var(--use-scale));
  top: calc(.2*var(--use-scale));
  right: calc(.1*var(--use-scale));
  font-weight: 600;
  opacity: .8;
  transition: all .3s;
}
.btn_freeze:hover,
.btn_details:hover{
  opacity: 1;
}

.tickets_detale{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(1*var(--use-scale));
  background: white;
  position: relative;
}
.tickets_detale img{
  display: block;
  width: 100%;
}
.detale_id{
  position: absolute;
  top: calc(.3*var(--use-scale));
  right: calc(.3*var(--use-scale));
  background: white;
  padding: calc(.3*var(--use-scale));
  border-radius: calc(.5*var(--use-scale));
}
.detale_id span{
  font-weight: 500;
}
.detale_title{
  font-size: calc(1.2*var(--use-scale));
  font-weight: 500;
}
.detale_date{
  margin-bottom: calc(.5*var(--use-scale));
}

.contact_list_item{
  width: 80%;
  margin: calc(.5*var(--use-scale)) auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact_list_item img{
  display: block;
  width: calc(1.1*var(--use-scale));
  margin-right: calc(.3*var(--use-scale));
}
.contact_list_item a{
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.social img{
  width: calc(2*var(--use-scale));
}

.visits_list{
  width: 80%;
  margin: 0 auto;
}
.visits_list_item{
  margin-bottom: calc(.3*var(--use-scale));
}
.visits_list_item span{
  margin-right: calc(.3*var(--use-scale));
}

.response{
  width: 98%;
 
  background-color: rgb(244, 248, 248);
  padding: calc(.4*var(--use-scale)) calc(.2*var(--use-scale));
  border-radius: calc(.4*var(--use-scale));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(.5*var(--use-scale));
}
.response input{
  padding: calc(.5*var(--use-scale));
  font-size: calc(1.2*var(--use-scale));
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  background: none;
}
.response button{
  background-color: rgb(20, 255, 59);
  border-radius: calc(1.2*var(--use-scale));
  
  opacity: .8;
  transition: all .3s;
}
.response img{
  display: block;
  width: calc(1.8*var(--use-scale));
}
.response input:focus,
.response input:hover{
  border-bottom: 1px solid rgba(0, 0, 0, 0.397);
}
.response button:hover{
  opacity: 1;
}