.rout_item._hide{
  display: none;
}

.tech_banner{
  font-size: calc(1.2*var(--use-scale));
  background-color: rgba(0, 0, 0, 0.473);
  color: white;
  box-sizing: border-box;
  width: 95%;
  padding: calc(.3*var(--use-scale));
  border-radius: calc(.5*var(--use-scale));
  opacity: .8;
  cursor: pointer;
  transition: all .3s;
  overflow: hidden;
}

.wrapper_tech_banner{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(22 * var(--use-scale));
  animation: scroll 12s linear infinite;
}
.wrapper_tech_banner h2{
  text-align: center;
}

@keyframes scroll {
  to {
  translate: calc(-3 * (22 * var(--use-scale)));
  }
}

.slider_items{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slider_item{
  width: 100%;
  height: 100%;
  border-radius: calc(.2*var(--use-scale));
  overflow: hidden;
  animation: slidein .4s linear;
}
.slider_item._hide{
  display: none;
}

.scren._hide{
  display: none;
}


.slider_item img{
  display: inline-block;
  width: 100%;
}
.slider_control{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: calc(1.3*var(--use-scale));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(.8*var(--use-scale));
}
.slider_control_btn{
  width: calc(.9*var(--use-scale));
  height: calc(.9*var(--use-scale));
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  opacity: .6;
  transition: all .3s;
}
.slider_control_btn._active{
  background-color: white;
  opacity: 1;
}

.slider_control_btn:hover{
  opacity: 1;
}

.main{
  width: 98%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr) calc(1.7*var(--use-scale)) repeat(4, 1fr);
  grid-column-gap: calc(.4*var(--use-scale));
  grid-row-gap: calc(.4*var(--use-scale));
  color: white;
  font-size: calc(1.1*var(--use-scale));
  max-height: 80%;
  font-size: calc(1*var(--use-scale));
}


.main a{
  color: white;
  transition: all .3s;
}
.main a:hover{
  transform: scale(1.02);
}

.div1 { grid-area: 1 / 1 / 4 / 3; }
.div2 { grid-area: 5 / 1 / 6 / 2; }
.div3 { grid-area: 5 / 2 / 6 / 3; }
.div4 { grid-area: 6 / 1 / 7 / 2; }
.div5 { grid-area: 6 / 2 / 7 / 3; }
.div6 { grid-area: 7 / 1 / 8 / 2; }
.div7 { grid-area: 7 / 2 / 8 / 3; }
.div8 { grid-area: 8 / 2 / 9 / 3; }
.div9 { grid-area: 4 / 1 / 5 / 3; }
.div10 { grid-area: 8 / 1 / 9 / 2; }


.slider{
  text-align: center;
  width: 100%;
  height: calc(16*var(--use-scale));
  background-color: rgba(0, 0, 0, 0.473);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(1*var(--use-scale));
  overflow: hidden;
}
.people{
  background-color: rgba(0, 0, 0, 0.473);
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  border-radius: calc(.5*var(--use-scale));
  padding: calc(.8*var(--use-scale));
  gap: calc(.5*var(--use-scale));
} 
.people_img{
  width: calc(2.3*var(--use-scale));
}
.people_img.closed{
  width: calc(3.2*var(--use-scale));
  margin: 0;
}
.people_img img{
  display: block;
  width: 100%;
}


.div3,.div4,.div5,.div6,.div7,.div8,.div2,.div10{
  background-color: rgba(0, 0, 0, 0.473);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(.5*var(--use-scale));
}
.profile{
  gap: calc(.5*var(--use-scale));
  font-size: calc(1*var(--use-scale));
  color: white;
  transition: all .3s;
}
.tech_banner:hover,
.profile:hover{
  opacity: 1;
  transform: scale(1.02);
}

.profile > img{
  display: block;
  width: calc(2.3*var(--use-scale));
}
.qr-code{
  overflow: hidden;
  cursor: pointer;
  transition: all .3s;
}
.qr-code img{
  display: none;
}
.qr-code:hover{
  transform: scale(1.02);
}

.qr-code._active{
  flex-direction: column;
  gap: calc(.4*var(--use-scale));
  position: absolute;
  width: 90%;
  height: auto;
  top: 20%;
  left: 5%;
}
.code_id{
  display: none;
}
.qr-code._active img{
  display: block;
  max-width: calc(25*var(--use-scale));
  max-height: calc(25*var(--use-scale));
  border-radius: calc(.8*var(--use-scale));
}
.qr-code._active .code_qr{
  display: none;
}
.qr-code._active .code_id{
  width: 100%;
  text-align: center;
  font-size: calc(2*var(--use-scale));
  font-weight: 700;
  display: block;
  border-radius: calc(.7*var(--use-scale));
  color: rgb(89, 170, 8);
  background-color: white;
  padding: calc(1*var(--use-scale));
}

.details{
  width: 100%;
  height: 84%;
  text-align: center;
  background: white;
}


.details_img{
  display: inline-block;
  width: 100%;
  margin-bottom: calc(.5*var(--use-scale));
}
.details_title{
  font-size: calc(1.6*var(--use-scale));
  font-weight: 600;
  margin-bottom: calc(.6*var(--use-scale));
}

.details_description{
  font-size: calc(1.3*var(--use-scale));
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: calc(.5*var(--use-scale));
  padding: calc(.5*var(--use-scale));
}

.details_conditions{
  font-size: calc(1.1*var(--use-scale));
  line-height: 1.1;
  font-weight: 400;
  padding: calc(.5*var(--use-scale));
}

.menu{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: calc(1*var(--use-scale));
  transform: translateX(0);
  transition: all .5s;
}

.menu._hide{
  transform: translateX(100%);
}

.close_btn{
  width: calc(1.6*var(--use-scale));
  height: calc(1.6*var(--use-scale));
  margin: calc(1*var(--use-scale));
}

.menu_content{
  width: 100%;
  height: 88%;
  background: white;
  box-sizing: border-box;
  border-radius: calc(1*var(--use-scale));
  padding: calc(.5*var(--use-scale));
}
.menu_content_my_profile{
  width: 100%;
  box-sizing: border-box;
  font-size: calc(1.3*var(--use-scale));
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: calc(1*var(--use-scale));
  background: rgb(32, 32, 32);
  padding: calc(.5*var(--use-scale));
  margin-bottom: calc(.5*var(--use-scale));
  border-radius: calc(1*var(--use-scale));
  color: white;
  opacity: .8;
  transition: all .3s;
}
.menu_content_my_profile._hide{
  display: none;
}

.menu_content_my_profile img{
  display: block;
  width: calc(2.5*var(--use-scale));
}

.menu_content_my_profile:hover{
  opacity: 1;
}
.menu_content_my_profile._hide{
  display: none;
}

.menu_content_form{
  width: 98%;
  margin: calc(.5*var(--use-scale)) auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: calc(.5*var(--use-scale));
  margin-bottom: calc(.5*var(--use-scale));
}
.menu_content_form._hide{
  display: none;
}
.menu_content_form h2{
  font-size:calc(1.4*var(--use-scale));
  font-weight: 500;
  text-align: center;
}


.menu_content_form input{
  font-size: calc(1.3*var(--use-scale));
  border-radius: calc(.5*var(--use-scale));
  padding: calc(.5*var(--use-scale));
  border: none;
}

.menu_content_form button{
  background: rgb(30, 218, 13);
  font-size: calc(1.3*var(--use-scale));
  padding: calc(.5*var(--use-scale));
  border-radius: calc(.5*var(--use-scale));
  opacity: .8;
  transition: all .3s;
}

.menu_content_form button:hover{
  opacity: 1;
}