.main{
  background: white;
  height: 85%;
  position: relative;
}

.profile{
  width: 95%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(.6*var(--use-scale));
  padding: calc(2*var(--use-scale)) calc(.5*var(--use-scale));
  overflow-y: auto;
  overflow-x: hidden;
}
.profile_img{
  width: 70%;
  border-radius: 50%;
  overflow: hidden;
  background-color: aliceblue;
}
.profile_img img{
  display: block;
  width: 100%;
}
.profile_title{
  font-size: calc(2*var(--use-scale));
}
.btn_services{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(.3*var(--use-scale));
  background-color: rgb(231, 229, 229);
  border-radius: calc(.5*var(--use-scale));
}

.profile_text{
  font-size: calc(1.2*var(--use-scale));
  align-items: center;
}

.contact{
  display: flex;
  align-items: first baseline;
  position: relative;
  align-self: start;
  padding-left: calc(1*var(--use-scale));
  gap: calc(.5*var(--use-scale));
  font-size: calc(1.4*var(--use-scale));
  opacity: .8;
  transition: all .3s;
}
.contact img{
  display: block;
  width: calc(1.5*var(--use-scale));
}
.contact:hover{
  opacity: 1;
}

.sent_caunt{
  font-size: calc(1.2*var(--use-scale));
  color: rgb(4, 104, 4);
  font-weight: 700;
  position: absolute;
  top: calc(-.3*var(--use-scale));
  left: calc(1.9*var(--use-scale));
}

.may_content{
  background: white;
  color: black;
  padding: calc(1.2*var(--use-scale));
  font-size: calc(1.5*var(--use-scale));
  font-weight: 500;
  text-align: center;
}