.details{
  width: 98%;
  max-height: 98%;
  background: rgb(242, 242, 242);
  border-radius: calc(1*var(--use-scale));
  margin: calc(1*var(--use-scale)) auto;
  overflow: hidden;
}
.main {
  width: 100%;
  height: 85%;
  font-size: calc(1*var(--use-scale));
  position: relative;
}

.list {
  width: 100%;
  max-height: 98%;
  overflow-y: auto;
  overflow-x: hidden;
}

.list_item{
  width: 98%;
  display: grid;
  grid-template-columns: repeat(2, .5fr) repeat(2, 1fr);
  grid-template-rows: .5fr 1fr .5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-sizing: border-box;
  border-radius: calc(.4*var(--use-scale));
  margin: calc(.7*var(--use-scale)) auto;
  background: rgb(242, 242, 242);
  box-shadow: 0px 1px 3px rgba(8, 8, 8, 0.12), 0px 1px 1px rgba(12, 12, 12, 0.14), 0px 2px 1px rgba(12, 12, 12, 0.2);
  overflow: hidden;
}

.item {
  width: 98%;
  display: flex;
  flex-direction: column;
  gap: calc(.8*var(--use-scale));
  margin: calc(.6*var(--use-scale)) auto;
}

.div1 {
  grid-area: 1 / 1 / 4 / 3;
}

.div2 {
  grid-area: 1 / 3 / 2 / 5;
}

.div3 {
  grid-area: 2 / 3 / 3 / 5;
}

.div4 {
  grid-area: 3 / 3 / 4 / 4;
}

.div5 {
  grid-area: 3 / 4 / 4 / 5;
}
.div1,
.div2,
.div3,
.div4,
.div5 {
  display: flex;
  align-items: center;
  justify-content: center;
}


.item_img{
  min-height: calc(9*var(--use-scale));
  max-height: calc(9*var(--use-scale));
  overflow: hidden;
}

.item_detale_img{
  overflow: hidden;
}
.item_detale_img img,
.item_img img{
  display: block;
  width: 100%;

}
.item_title{
  text-align: center;
  font-size: calc(1.2*var(--use-scale));
  font-weight: 500;
}
.item_description{
  text-align: center;
  font-size: calc(1.1*var(--use-scale));
  font-weight: 400;
  padding: calc(.3*var(--use-scale));
}
.item_price{
  text-align: center;
  font-size: calc(1.1*var(--use-scale));
  font-weight: 600;
}
.buy_btn,
.item_buy_btn{
  font-size: calc(1.1*var(--use-scale));
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  background: rgba(7, 197, 17, 0.603);
  border-radius: calc(.6*var(--use-scale));
  opacity: .8;
  transition: all.3s;
  margin: calc(.1*var(--use-scale));
}

.buy_btn{
  padding: calc(.8*var(--use-scale));
}

.buy_btn:hover,
.item_buy_btn:hover,
.item_detale-btn:hover{
  opacity: 1;
}
:disabled{
  cursor: default;
}
.item_buy_btn:hover {
  opacity: 1;
}

:disabled {
  cursor: default;
}