.messages._hide{
  display: none;
}

.options{
  width: 90%;
  margin: calc(.1*var(--use-scale)) auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options_btn{
  font-weight: 500;
  font-size: calc(1.1*var(--use-scale));
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  background: none;
  padding: calc(.5*var(--use-scale)) calc(.7*var(--use-scale));
  cursor: pointer;
  opacity: .8;
  transition: all.3s;
}
.options_btn._active,
.options_btn:hover{
  border-bottom: 1px solid rgba(0, 0, 0, 0.514);
  opacity: 1;
}

.main{
  width: 100%;
  height: 85%;
}

.messages{
  width: 98%;
  max-height: 85%;
  padding: calc(1*var(--use-scale));
  font-size: calc(1*var(--use-scale));
  overflow-y: auto;
  overflow-x: hidden;
}
.list{
  display: flex;
  flex-direction: column;
}
.list_item{
  width: 90%;
  background: white;
  border-radius: calc(.5*var(--use-scale));
  padding: calc(.5*var(--use-scale));
  margin-top: calc(.5*var(--use-scale));
}
.title{
  font-size: calc(1.3*var(--use-scale));
  text-align: center;
}
.list_item.input{
  float: right;
  background: rgb(206, 238, 206);
}
.list_item.input .item_title{
  text-align: end;
  padding-right: calc(1.5*var(--use-scale));
}
.item_title{
  font-size: calc(.9*var(--use-scale));
  font-weight: 500;
  padding-left: calc(1.5*var(--use-scale));
  margin-bottom: calc(.3*var(--use-scale));
}
.item_description{
  font-size: calc(1.1*var(--use-scale));
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: calc(.3*var(--use-scale));
}
.item_date{
  text-align: end;
}
.form{
  width: 90%;
  margin-top: calc(3*var(--use-scale));
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: calc(.7*var(--use-scale));
  padding: calc(.5*var(--use-scale));
  gap: calc(1*var(--use-scale));
}
.messages._sent input{
  display: none;
}
.messages._sent label{
  display: none;
}
.sent_title{
  font-size: calc(.85*var(--use-scale));
  display: none;
}
.messages._sent .sent_title{
  display: block;
}

.form label{
  font-size: calc(1*var(--use-scale));
  font-weight: 600;
}
.form input{
  font-size: calc(1.1*var(--use-scale));
  font-weight: 400;
  padding: calc(.3*var(--use-scale)) calc(.5*var(--use-scale));
  border-radius: calc(.6*var(--use-scale));
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.form textarea{
  font-size: calc(1.1*var(--use-scale));
  font-weight: 400;
  padding: calc(.3*var(--use-scale)) calc(.5*var(--use-scale));
  border-radius: calc(.6*var(--use-scale));
  resize:none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}



.icon_inbox._input{
  float: right;
}
.icon_inbox{
  float: left;
}
.icon_inbox img{
  display: block;
  width: calc(1*var(--use-scale));
}
.btn-submit{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(1.2*var(--use-scale));
  font-weight: 500;
  background: rgba(7, 197, 17, 0.603);
  border-radius: calc(.5*var(--use-scale));
  border-radius: calc(.7*var(--use-scale));
  opacity: .8;
  transition: all.3s;
}
.btn-submit:hover{
  opacity: 1;
}

.btn-submit img{
  display: block;
  width: calc(2*var(--use-scale));
}
