.header_nav._hide{
  display: none;
}

.main {
  width: 100%;
  height: 85%;
  position: relative;
}

.coachs._hide{
  display: none;
}

.coachs_detale._hide{
  display: none;
}
.options {
  width: 90%;
  margin: calc(.1*var(--use-scale)) auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options_btn {
  font-weight: 500;
  font-size: calc(1.1*var(--use-scale));
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  background: none;
  padding: calc(.5*var(--use-scale)) calc(.7*var(--use-scale));
  cursor: pointer;
  opacity: .8;
  transition: all.3s;
}

.options_btn._active,
.options_btn:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.514);
  opacity: 1;
}

.coach_list{
  width: 100%;
  max-height: calc(41*var(--use-scale));
  overflow-y: auto;
  overflow-x: hidden;
}

.coach_item,
.coach_list_item{
  margin: calc(.3*var(--use-scale)) auto;
  width: 98%;
  border-radius: calc(.5*var(--use-scale));
  overflow: hidden;
  background: white;
}

.coach_list_item img{
  display: block;
  width: 100%;
  max-width: calc(7*var(--use-scale));
  cursor: pointer;
}
.coach_item img{
  display: block;
  max-width: calc(20*var(--use-scale));
  width: 100%;
}

.coach_item h2,
.coach_list_item h2{
  font-size: calc(1.1*var(--use-scale));
}
.coach_item p,
.coach_list_item p {
  font-size: calc(1*var(--use-scale));
}

.item-btn{
  font-size: calc(.6*var(--use-scale));
  font-weight: 500;
  margin: calc(.4*var(--use-scale));
  border: 1px solid black;
  border-radius: calc(1*var(--use-scale));
  opacity: .8;
  transition: all .3s;
}
.item-btn:hover{
  border: 1px solid rgba(0, 0, 0, 0.514);
  background-color: rgb(18, 18, 18);
  color: white;
  opacity: 1;
}
.coachs_detale{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.coach_item{
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(.3*var(--use-scale));
}
.coach_item p{
  padding: calc(.5*var(--use-scale));
  text-align: center;
}
.coachs_detale_btn{
  width: 90%;
  font-size: calc(1.1*var(--use-scale));
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  background: rgba(7, 197, 17, 0.603);
  border-radius: .7rem;
  opacity: .8;
  transition: all.3s;
  padding: calc(1*var(--use-scale));
}
.coachs_detale_btn:hover{
  opacity: 1;
}

.my_message{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(.5*var(--use-scale));
  padding: calc(.5*var(--use-scale));
  background-color: white;
  color: black;
}
.message_img{
  width: 30%;
}
.message_img img{
  display: block;
  width: 100%;
}
.my_message h2{
  font-size: calc(1.2*var(--use-scale));
}

.message_text{
  font-size: calc(1.1*var(--use-scale));
  font-weight: 400;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, .75fr) repeat(3, 1fr);
  grid-template-rows: repeat(2, .7fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-item-1 {
  grid-area: 1 / 1 / 3 / 3;
}

.grid-item-2 {
  grid-area: 1 / 3 / 2 / 5;
}

.grid-item-3 {
  grid-area: 2 / 3 / 3 / 5;
}

.grid-item-4 {
  grid-area: 1 / 5 / 2 / 6;
}

.grid-item-5 {
  grid-area: 2 / 5 / 3 / 6;
}